DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=project.settings.base
DJANGO_ALLOWED_HOSTS=*
DJANGO_DATABASE_URL="postgres://dev:devadminpassword@localhost:5432/devdb"

# needed for encrypting/decrypting secrets in the repo
SOPS_AGE_KEY_FILE=/home/YOURUSER/.age/keys.txt
